<% provide(:title, "ログイン") %>
<div class="container py-5">
  <h2 class="text-center mb-3">ログイン</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field mx-auto w-75 mb-3">
      <%= f.label :email, class: "font-small" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-100" %>
    </div>

    <div class="field mx-auto w-75 mb-3">
      <%= f.label :password, class: "font-small" %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: "w-100" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field mx-auto w-75 mb-3">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, "次回から自動でログイン" %>
      </div>
    <% end %>

    <div class="actions mx-auto w-75 mb-3">
      <%= f.submit "ログインする", class: "bg-dark text-white border-0 button" %>
    </div>
  <% end %>

  <div class="link-group mx-auto w-75 mb-3">
    <%= render "devise/shared/links" %>
  </div>
</div>
