<li id="post-<%= post.id %>">
  <div class="user-post-wrapper">
    <div class="profile-avatar">
      <% if @user.avatar? %>
        <%= image_tag @user.avatar.url, class: "rounded-circle" %>
      <% else %>
        <%= image_tag "no-image.png", class: "rounded-circle" %>
      <% end %>
    </div>
    <div class="title ml-3">
      <%= link_to post.title, post_path(post) , class: "text-dark font-weight-bold"%>
      <span class="timestamp font-small mt-1">
        投稿者:<%= link_to @user.name, user_path(@user) , class: "text-light"%>&nbsp;
        <%= time_ago_in_words(post.created_at) %>前
      </span>
    </div>
  </div>
</li>
